@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  background: #252836;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 0 16px; */

  header {
    display: flex;
    gap: 100px;

    .sidebar {
      background: #1f1d2b;
      position: fixed;
      top: 0;
      left: 0;
      width: 100px;
      display: flex;
      flex-direction: column;

      img {
        width: 88px;
        height: 88px;
      }
    }

    .menu {
      background-color: #252836;
      margin-top: 30px;
      margin-left: 80px;
      display: flex;
      flex-direction: row;

      .menu__top {
        width: 800px;
        background-color: #252836;
        z-index: 1;
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 280px;

        .menu__top-left {
          background-color: #252836;

          h1 {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #fff;
            margin-bottom: 10px;
          }

          h3 {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            margin-bottom: 10px;
          }
        }

        .menu__top-right {
          label {
            display: flex;
            align-items: center;
            width: 240px;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #393c49;
            background: #2d303e;
            gap: 10px;
            padding: 8px 10px;
            input {
              outline: none;
              background: none;
            }

            img {
              background: none;
            }
          }
        }
      }

      .foods__menu {
        width: 800px;
        display: flex;
        margin-top: 90px;
        z-index: 1;

        ul {
          background-color: #252836;
          position: fixed;
          display: flex;
          gap: 30px;

          li {
            a {
              background-color: #252836;

              padding: 15px;
              font-family: "Poppins", sans-serif;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #fff;
              text-decoration: none;
              padding-bottom: 13px;
            }

            a:hover {
              border-bottom: 2px solid #ea7c69;
              transition: all 1s;
              color: #ea7c69;
            }
          }
        }
      }
    }

    .orders {
      padding: 30px 40px 0 30px;
      color: #fff;
      background: #1f1d2b;
      height: 100vh;
      position: fixed;
      right: 0;

      .order__btns {
        margin-top: 30px;
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        gap: 15px;

        button {
          width: 100px;
          height: 35px;
          border-radius: 8px;
          border: 1px solid #393c49;
          background: #1f1d2b;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #ea7c69;
          cursor: pointer;
        }
        button:hover {
          border: 1px solid #ea7c69;
          transition: all 1s;
          color: #fff;
          background: #ea7c69;
        }
      }
    }
  }
}

.pizzas {
  width: 800px;
  margin-top: 180px;
  z-index: -1;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
  }

  .pizza {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 30px;

    .pizzase {
      margin-top: 50px;
      padding: 10px 15px;
      width: 210px;
      height: 270px;
      border-radius: 8px;
      border: 1px solid #393c49;
      background: #1f1d2b;

      img {
        top: -50px;
        position: relative;
        margin: auto;
        width: 140px;
        height: 130px;
        border-radius: 50%;
        background: #fff;
      }

      h1 {
        margin-top: -40px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #fff;
      }
      h2 {
        margin-top: 10px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
      }

      h3 {
        margin-top: 8px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
      }
    }
  }
}

.top__fix {
  top: 0;
  width: 800px;
  position: fixed;
  background: #252836;
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 20px;
}

.inputt {
  width: 280px;
}

.food {
  width: 300px;
  height: 50px;
}

.food__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
}

.num {
  width: 40px;
  height: 40px;
  border: 1px solid #393c49;
  background: #2d303e;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  font-family: poppins;
  font-weight: 500;
  margin-right: 20px;
}

.addorder {
  margin: auto;
  display: flex;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #393c49;
  margin-top: 5px;
  padding: 2px 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.addorder:hover {
  border: 1px solid #ea7c69;
  transition: all 1s;
  color: #ea7c69;
}
